# Android Studio
.idea/
*.iml

# Gradle
.gradle/

# Local config
local.properties

# Build output
/build
/app/build
.externalNativeBuild
.cxx
/captures

# Signing keys
*.jks
app/kizi.jks

# APKs
*.apk

# Crash dumps
*.hprof

# macOS
.DS_Store